{
    admin off
    email admin@localhost
    auto_https off
    http_port 7080
    https_port 7443
}

:7888 {
    reverse_proxy livekit:7880
    encode zstd gzip
}

:9001 {
    reverse_proxy minio:9001
    encode zstd gzip
}

:9000 {
    reverse_proxy minio:9000
    encode zstd gzip
}

:8080 {
    respond / "OK" 200
    header Access-Control-Allow-Origin "*"
}
